<!DOCTYPE html>
<html>
<head>
<style>
.flex-container {
  display: flex;
  height: 1600px;
  flex-wrap: wrap;
  flex-direction : column;
  background-color: black;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 500px;
  height : 300px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
</style>
</head>
<body>

<div class="container">
    <div class="row"></div>
    <div class = 'col'><img src= "https://images-na.ssl-images-amazon.com/images/G/31/img21/Fashion/Event/SS21Flip/PC_Changes/FinalspotlightScroll/mens_t_shirt._SY530_QL85_.png" width = 250 height = 250/>
    <div class='row'><h1>Hii</h1></div></div>

    
</div>






</body>
</html>