{% extends 'products/base.html' %}

{% block content %}


    {% for item in items %}

        <div class = 'container'>


            <div class='row'>
                
                <div class = 'col'> <img class='img-responsive' src="{{ item.image_url }}" > </div>

                <div class='col'>
                    
                    <div class='row'> <h2 style ='color:rgb(89, 36, 105)'> {{ item.title }} </h2></div>
                    <div class='row'> <h3 style="color:green"> {{ item.tag }} </h3></div><br>   
                    <div class ='row' > <h1> {{ item.price }} </h1> </div> <br>
                    <div class = 'row'> <h4> {{ item.description }} </h4> </div>

                </div>

            </div>
        </div>

    {% endfor %}



{% endblock content %}

 

